
    /*titulo-secundario*/
.titulo-secundario{
    
    position: absolute; top: 63px; left: 2%;
    text-align: end;
    display: flex; justify-content: center;
    color: black;

}

/*footer*/

.margen-abajo{
    margin-bottom: 10px;
    margin-top: -16px

    }
.footer{
    padding: 5px;
    color: white;
    text-align: center;
    height: 130px;
    }

